
/* CSS W3School*/
.heroImage {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255)), url("/src/logo.svg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText {
  text-align: center;
  display: flex;
  position: relative;
  padding-top: 35%;
  padding-left: 80px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
}

.heroButton {
  display: inline-block;
  padding-top: 20%;
  padding-left: 80px;
  cursor: pointer;
}

/* Typing Container*/
.headerContainer {
  height: 50vh;
  display: flex;
  color: #2D2D2D;
}

.typingHero {
  width: 100%;
  background-color: #FDFDFD;
    
}

.nameRenderFields {
  font-size: 48px;
  margin-top: 50%;
  margin-left: 150px;
  font-weight: 900;
  text-transform: uppercase;
}

.nameRenderText {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
